<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Nishant Upadhyay</strong>
                            </span> <span class="text-muted text-xs block">Admin</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    NU+
                </div>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href="/admin/profile"><i class="fa fa-th-large"></i> <span class="nav-label">Profile</span></a>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
                <a href="/admin/skills"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Skills</span></a>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
              <a href="/admin/tools"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Tools</span></a>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
              <a href="/admin/experiances"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Experience</span></a>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
              <a href="/admin/educations"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Education</span></a>
            </li>
            <li class="<%= is_active_controller('graphs') %>">
              <a href="/admin/awards"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Awards/Certificates</span></a>
            </li>
        </ul>
    </div>
</nav>